requires
.venv
__pycache__
lib
.gitignore
.pytest_cache
.gemini*.log
node_modules/
dist/
.geminiignore
.gemini
output
.env
graphgen.egg-info
tests
# Docker artifacts
.docker/
.agent
output
thesis
