numpy
scikit-learn
nltk
leidenalg
networkx
python-dotenv
sentence-transformers
pydantic-settings
spacy
langchain-core
langchain-text-splitters
langchain-experimental
langchain-groq
dspy
tiktoken
neo4j
pykeen
rdflib
gliner[gpu]
pandas
seaborn
matplotlib
